# usb-mitm binary
usb-mitm
#object files
*.o
*.d
*.so
*.pyc
#shell to move changes from usb-test
merge.sh
#eclipse stuff
.project
.cproject
test/relaytest/relaytest
typescript
# bindings
usbproxy_wrap.cxx
usbproxy.py
#vi(m)
*.swp
#cmake stuff
CMakeFiles
cmake_install.cmake
cmake_uninstall.cmake
CMakeCache.txt
Makefile
